* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid black;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50vh;
    width: 50vw;
    row-gap: 10px;
    column-gap: 10px;
    background-color: rgb(240, 129, 255);
}

button {
    margin: 20px;
}

#player-input-div {
    display: flex;
    width: 800px;
    justify-content: space-around;
    align-items: center;
}

#button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
    font-size: 20px;
}

.player-div {
    display: flex;
    align-items: center;
}

.board-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 60px;
    font-family: sans-serif;
}

.board-cell:hover {
    background-color: rgb(215, 214, 214);
}

#game-outcome-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 20px;
}